/*Author Tetiana*/
.book-card {
  position: relative;
  display: flex;
  justify-content: start;
  width: 335px;
  height: 170px;
  padding: 14px;
  align-items: flex-start;

  border-radius: 16px;
  border: 2px solid rgba(79, 46, 232, 0.4);
  background: #fff;

  @media (min-width: 768px) {
    width: 704px;
    height: 213px;
    padding: 24px;
  }

  @media (min-width: 1440px) {
    width: 996px;
    height: 213px;
  }
}

.book-cover {
  tab-size: 0;
  display: block;
  width: 100px;
  height: 142px;
  border-radius: 8px;

  @media (min-width: 768px) {
    width: 116px;
    height: 165px;
  }
}

.book-info {
  display: flex;
  width: 193px;

  flex-direction: column;
  margin-left: 14px;

  @media (min-width: 768px) {
    width: 516px;
    margin-left: 24px;
  }

  @media (min-width: 1440px) {
    width: 808px;
    margin-left: 24px;
  }
}

.book-title {
  display: flex;
  flex-direction: column;
  width: 144px;
  height: 18px;
  margin-bottom: 4px;

  overflow: hidden;
  color: #111;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    width: 480px;
  }

  @media (min-width: 1440px) {
    width: 774px;
  }
}

.book-category {
  display: flex;
  flex-direction: column;
  width: 165px;
  height: 14px;
  margin-bottom: 8px;

  overflow: hidden;
  color: #b4afaf;
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.36px;

  @media (min-width: 768px) {
    width: 480px;
    margin-bottom: 14px;
  }

  @media (min-width: 1440px) {
    width: 774px;
  }
}

.book-description {
  display: flex;
  flex-direction: column;
  height: 68px;
  margin-bottom: 16px;

  overflow: hidden;
  color: #111;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;

  @media (min-width: 768px) {
    height: 53px;
    margin-bottom: 48px;
  }
}

.book-author {
  position: absolute;
  bottom: 14px;
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
}

.trash-thumb {
  /*   display: flex;
  justify-content: center;
  text-align: center; */
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  padding: 6px;
  border-color: rgb(79, 46, 232);
  border-radius: 50%;
  background-color: rgba(79, 46, 232);

  @media (min-width: 768px) {
    top: 24px;
    right: 24px;
    width: 34px;
    height: 34px;
  }
}

.icon.trash {
  display: block;
  width: 100%;
  height: 100%;
  stroke-width: 0;
  stroke: #fff;
  fill: #fff;
}

.book-stores {
  position: absolute;
  bottom: 14px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  width: 80px;
  height: 16px;

  @media (min-width: 768px) {
    bottom: 24px;
    right: 24px;
    width: 140px;
    height: 30px;
    gap: 16px;
  }
}

.icon-store {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    width: 32px;
    height: 30px;
  }
}

.icon-store.amazon {
  width: 32px;
  height: 11px;

  @media (min-width: 768px) {
    width: 48px;
    height: 15px;
  }
}
