@import '~node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-weight: 400;
  src: url('../fonts/dm-sans-v13-latin-regular.woff2') format('woff2'),
    url('../fonts/dm-sans-v13-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/dm-sans-v13-latin-italic.woff2') format('woff2'),
    url('../fonts/dm-sans-v13-latin-italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-weight: 500;
  src: url('../fonts/dm-sans-v13-latin-500.woff2') format('woff2'),
    url('../fonts/dm-sans-v13-latin-500.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-weight: 700;
  src: url('../fonts/dm-sans-v13-latin-700.woff2') format('woff2'),
    url('../fonts/dm-sans-v13-latin-700.woff') format('woff');
}

/*========VARIABLES========*/
$clr-background-light: #f6f6f6;
$clr-background-dark: #202024;
$clr-brand:#4F2EE8;
$clr-accent: #EAC645;
$clr-text-black: #111;

:root {
    --var-body-bg: #F6F6F6;
    --var-header-bg: #FFF;
    --var-text-fc: #111;
    --var-logo-clr: #000;
    --var-ico-brg: #111; 
    --var-hover-fc: #4F2EE8;
}

[dark] {
    --var-body-bg: #202024;
    --var-header-bg: #111;
    --var-text-fc: #FFF;
    --var-logo-clr: #F3F3F3;
    --var-ico-brg: #FFF; 
    --var-hover-fc: #EAC645;
}



/*========COMMON RULES========*/
body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--var-body-bg);
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img{
  display: block;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 380px) {
    width: 380px;
  }

  @media (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: 1440px) {
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
