.header {
  position: relative;
  --var-header-bg: #FFF;
  z-index: 3;
  max-width: 100%;
  // align-content: center;
}

.sing-up-btn {
  width: 184px;
  height: 45px;
  border-radius: 36px;
  background-color: #4f2ee8;
  font-family: 'DM Sans';
  font-size: 22px;
  line-height: 1.3;
  padding: 0 46px;
  font-weight: 700;
  color: #ffffff;
  display: none;
  align-items: center;
}
// перемикач
.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}
.toggle__input {
  display: none;
}
.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: linear-gradient(
    180deg,
    rgba(79, 46, 232, 1) 0%,
    rgba(220, 220, 220, 1) 100%
  );
  transition: background-color 0.2s;
}
.toggle__fill::after {
  content: '';
  position: absolute;
  top: 1;
  left: 1;
  height: 18px;
  width: 18px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}
.toggle__input:checked ~ .toggle__fill {
  background: linear-gradient(
    180deg,
    rgba(79, 46, 232, 1) 0%,
    rgba(104, 104, 104, 1) 100%
  );
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}
//
.header-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  // gap: 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav {
  display: flex;
}

.nav-list {
  display: none;

  @media (min-width: 768px) {
    gap: 8px;
    margin-left: 40px;
    display: flex;
    align-items: center;
  }
}

.burger-ico {
  width: 28px;
  height: 28px;
}
.burger-ico:hover {
  stroke: #4f2ee8;
}
.burger-ico:focus {
  stroke: #4f2ee8;
}
//
.logo {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 18px 0;
}
.logo-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.btn-icon {
  width: 20px;
  height: 20px;
}
.right-side {
  display: flex;
  align-items: center;
  gap: 14px;
}

// .page-name{
//   display: flex;
//   align-items: flex-end;
// }

.nav-link {
  display: flex;
  column-gap: 8px;
  height: 36px;
  padding: 7px 16px;
  border-radius: 36px;

  font-family: 'DM sans';
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.7;
  
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: $clr-text-black;
  border-color: $clr-accent;
  background-color: $clr-accent;
}

@media (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .sing-up-btn {
    display: flex;
  }
  .nav-list {
    display: flex;
  }
}
// dark theme
// .dark {
//     background-color: #111;
//     border-color: #ffffff;
// }
// .dark-txt {
//     color: #ffffff;
// }
// .dark-ico {
//     fill: #ffffff;
//     stroke: #ffffff;
// }

// .light-theme {
//   background-color: #ffffff;
//   color: #000000;
// }

// /* Стилі для темної теми */
// .dark-theme {
//   background-color: #1c1c1c;
//   color: #ffffff;
// }

.header-sec {
  border: var(--var-text-fc) 2px solid;
  background-color: var(--var-body-bg);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.burger-ico {
  stroke: var(--var-ico-brg);
}
.logo {
  color: var(--var-logo-clr);
}
.btn-icon {
  fill: currentColor;
}
.nav-link {
  color: var(--var-text-fc);
}
.current {
  color: $clr-text-black;
  background-color: #eac645;
  font-weight: 700;
}

/*categories list style*/
.categories-list-item {
  color: var(--var-text-fc);
}

.categories-list-item:hover {
  color: var(--var-hover-fc);
}

.categories-list-item-selected {
  color: var(--var-hover-fc);
}
