//author Stanislav
.spinner__container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.8);
  opacity: 0.8;
  z-index: 1001;
  transition: 0.5s;
}

.spinner {
  border: 8px solid rgba(79, 46, 232, 0.6);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: rgb(79, 46, 232);
  animation: loader 1.3s linear infinite;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
