body {
    background-color: #202024;
}
.header-sec {
    border: #FFF 2px solid;
    background-color: #111;
}
.burger-ico {
    stroke: #fff;
}
.logo {
    color: #F3F3F3;
}
.btn-icon {
    fill: #FFF;
}
.nav-link {
    color: #111;
}
.current {
    color: #FFF;
}
.nav-link {
color: #FFF;
}