body {
    background-color: #F6F6F6;
}
.header-sec {
    border: #111 2px solid;
    background-color: #fff;
}
.burger-ico {
    stroke: #111;
}
.logo {
    color: #000;
}
.btn-icon {
    fill: black;
}
.nav-link {
    color: #111;
}
.current {
    color: #111;
}
.nav-link {
color: #111;
}

/*categories list style*/
.categories-list-item {
    color:#11111199;
}

.categories-list-item:hover {
    color:#4F2EE8 ;
}

.categories-list-item-selected {
    color:#4F2EE8 ;
}
