<div class="container all_categories">
  <div class="left_all_categories">
    <div class="categories_list_div">
      <ul class="categories_list">
        <li>
          <a href="#">All categories</a>
        </li>
        <li>
          <a href="#">Combined Print & E-book Nonfiction</a>
        </li>
        <li>
          <a href="#">Combined Print & E-book Nonfiction</a>
        </li>
        <li>
          <a href="#">Combined Print & E-book Nonfiction</a>
        </li>
        <li>
          <a href="#">Combined Print & E-book Nonfiction</a>
        </li>
      </ul>
    </div>
    <include src="./partials/ukr-sprt-slider.html"></include>
  </div>

  <section class="all_categories_section">
    <h1 class="best_sellers_header">
      Best Sellers <span class="h1_span_color">Books</span>
    </h1>
    <div class="top_of_genres_div">
      <p class="all_genres_list_header">Combined Print and E-Book Fiction</p>
      <ul class="top_genre_cards_list">
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">NameBook</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">NameBook</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">NameBook</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">NameBook</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">DAISY JONES & THE SIX</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
      </ul>
      <div class="btn_see_more_div">
        <button class="see_more_btn">see more</button>
      </div>
    </div>
    <div class="top_of_genres_div">
      <p class="all_genres_list_header">Combined Print and E-Book Fiction</p>
      <ul class="top_genre_cards_list">
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">NameBook</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">NameBook</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">NameBook</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">NameBook</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">DAISY JONES & THE SIX</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
      </ul>
      <div class="btn_see_more_div">
        <button class="see_more_btn">see more</button>
      </div>
    </div>
    <div class="top_of_genres_div">
      <p class="all_genres_list_header">Combined Print and E-Book Fiction</p>
      <ul class="top_genre_cards_list">
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">NameBook</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">NameBook</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">NameBook</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">NameBook</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
        <li>
          <div class="image_place_test"></div>
          <p class="name_of_the_book">DAISY JONES & THE SIX</p>
          <p class="writer_name">Chester Dmytro</p>
        </li>
      </ul>
      <div class="btn_see_more_div">
        <button class="see_more_btn">see more</button>
      </div>
    </div>
  </section>
</div>
