<div class="book-card">
  <img
    class="book-cover"
    src="./images/books-shoping-list.jpg"
    alt="Book cover"
  />
  <div class="book-info">
    <h3 class="book-title">Book Title</h3>
    <p class="book-category">Category</p>
    <p class="book-description">Description</p>
    <p class="book-author">Author</p>
    <button class="trash" type="button">Trash</button>
    <ul class="book-stores">
      <li class="icon-amazon"><a href="#"></a></li>
      <li class="icon-apple-book"><a href="#"></a></li>
      <li class="icon-book-shop"><a href="#"></a></li>
    </ul>
  </div>
</div>
