<!-- author Tetiana -->

<div class="book-card">
  <img class="book-cover" src="./images/large-plug.jpg" alt="Book cover" />
  <div class="book-info">
    <h3 class="book-title">Book Title</h3>
    <p class="book-category">Category</p>
    <p class="book-description">
      Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
      itaque et dignissimos quia, numquam necessitatibus pariatur maxime
      architecto, ratione eos recusandae ea unde quasi! Cupiditate, esse
      voluptate. Neque, labore nemo.
    </p>
    <p class="book-author">Author</p>
    <button class="trash-thumb" type="button">
      <svg class="icon trash">
        <use xlink:href="./images/icons.svg#icon-trash-03.svg"></use>
      </svg>
    </button>
    <ul class="book-stores">
      <li>
        <a href="#">
          <img
            class="icon-store amazon"
            src="./images/amazon.jpg"
            alt="Book cover"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img
            class="icon-store apple-book"
            src="./images//apple-book.jpg"
            alt="Book cover"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img
            class="icon-store book-shop"
            src="./images//book-shop.jpg"
            alt="Book cover"
        /></a>
      </li>
    </ul>
  </div>
</div>
