<header class="header" id="header">
<div class="container header-sec" >
    <nav class="nav">
        <a class="logo" href="#">
            <svg class="logo-icon">
                <use href="./images/icons.svg#icon-logo"> 
                </use>
            </svg>
            Bookshelf
        </a>
    <ul class="nav-list">
        <li class="nav-item">
            <a href="#header">Home</a>
        </li>
        <li class="nav-item">
            <a href="//shopping-list.html">Shopping list
                <svg class="btn-icon">
                    <use href="./images/icons.svg#icon-cart"> 
                    </use>
                </svg>
            </a>
        </li>
    </ul>
    </nav> 
    <label class="toggle" for="myToggle">
        <input class="toggle__input" name="" type="checkbox" id="myToggle">
        <div class="toggle__fill"></div>
    </label>
    <button class="welcom-btn" type="button">Welcome</button>
</div>
</header>