<header class="header" id="header">
  <div class="container header-sec">
    <nav class="nav">
      <a class="logo" href=".//index.html">
        <svg class="logo-icon">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        Bookshelf
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link js-btn-hm" href=".//index.html">
            <p class="page-name">Home</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-btn-sl" href="./shopping-list.html">
            <p class="page-name">Shopping list</p>
            <svg class="btn-icon">
              <use href="./images/icons.svg#icon-cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <div class="right-side">
      <label class="toggle" for="myToggle">
        <input
          class="toggle__input js-switch-theme"
          name=""
          type="checkbox"
          id="myToggle"
        />
        <span class="toggle__fill"></span>
      </label>
      <button type="button" class="burger-btn">
        <svg class="burger-ico">
          <use href="./images/icons.svg#icon-align-left"></use>
        </svg>
      </button>
      <button type="button" class="close-btn">
        <svg class="close-ico">
          <use href="./images/icons.svg#icon-x-close"></use>
        </svg>
      </button>
      <div class="user-reg-btns">
        <button class="sign-up-btn js-log-in-btn" type="button">
          Sign up
          <svg class="sign-ico">
            <use href="./images/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
        <button class="log-out-btn js-log-out-btn" type="button">
          Log out
          <svg class="log-out-ico">
            <use href="./images/icons.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
        <button class="user-btn js-user-btn" type="button">
          <img class="user-img" src="./images/avatar.png" alt="user-ava" />
          <span>user name</span>
          <svg class="user-ico">
            <use href="./images/icons.svg#icon-caret-down"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
