<!-- Author: YURII CORSSA -->
<div class="mobile-menu_container container mobile-menu_is-hidden">
  <div class="mobile-menu_guest">
    <button class="mobile-menu_btn log-in">
      <span>Sign up</span>
      <svg class="mobile-menu_icon_btn">
        <use href="./images/icons.svg#icon-arrow-narrow-right"></use>
      </svg>
    </button>
    <div class="background-gallery"></div>
  </div>
  <div class="mobile-menu_user">
    <div class="user_wrapper">
      <img src="/src/images/avatar.png" alt="avatar" class="user_avatar" />
      <span class="user_name">user name</span>
    </div>
    <ul class="nav-list mobile_nav-list">
      <li class="nav-item">
        <a class="nav-link js-mobile-btn-hm" href=".//index.html">
          <p class="page-name">Home</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-mobile-btn-sl" href="./shopping-list.html">
          <p class="page-name">Shopping list</p>
          <svg class="btn-icon">
            <use href="./images/icons.svg#icon-cart"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="mobile-menu_btn log-out">
      <span>Log out</span>
      <svg class="mobile-menu_icon_btn">
        <use href="./images/icons.svg#icon-arrow-narrow-right"></use>
      </svg>
    </button>
    <div class="background-gallery"></div>
  </div>
</div>
