<!-- автор Богдан -->
<div class="modal-backdrop visually-hidden">
  <div class="modal">
    <button class="modal-close-btn" type="button">
      <svg class="modal-close-icon">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>

    <div class="modal-flex-container"></div>

    <button class="modal-add-btn" type="button">ADD TO SHOPPING LIST</button>
    <p class="modal_text_notification js-modal-notify-text hidden">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button &ldquo;Remove from the shopping list&rdquo;.
    </p>
  </div>
</div>
