 <!-- автор Богдан -->
<div class="modal-backdrop visually-hidden">
    <div class="modal">
       <button class="modal-close-btn" type="button"> 
           <svg class="modal-close-icon">
               <use href="./images/icons.svg#icon-x-close"></use> 
            </svg>
    
       </button>
   
   
       <div class="modal-flex-container"> 
           
           <!-- <img class="modal-image-book" src="./images/books-shoping-list.jpg" alt="">
   
           <div class="modal-flex-content">  
   
           <h2 class="modal-book-name">Book name</h2>
           <p class="modal-author">Author</p>
           <p class="modal-description">Description</p>
           
           <div class="shops-container">
       
               <a class="modal-shops-images" href="https://www.amazon.com/ref=nav_logo">
                   <img class="modal-image-amazon" src="./images/amazon.jpg" alt="Amazon shop">
                   </a>
                   <a class="modal-shops-images" href="https://www.apple.com/ua/apple-books/">
                       <img class="modal-image-apple" src="./images/apple-book.jpg" alt="Apple shop">
               </a>
               <a class="modal-shops-images" href="https://bookshop.org/">
                   <img class="modal-image-bookshop" src="./images/book-shop.jpg" alt="Bookshop">
               </a>
       
           </div>
       </div> -->
       </div>
    
       <button class="modal-add-btn" type="button"> ADD TO SHOPPING LIST</button>
   
    </div>
   </div>