<div class="backdrop-registration"></div>
<div class="modal-registration">
  <form name="signup_form" class="signup_form">
    <input
      type="text"
      name="name"
      class="signup_input name"
      placeholder="name"
    />
    <input
      type="email"
      name="email"
      class="signup_input email"
      placeholder="email"
    />
    <input
      type="password"
      name="pwd"
      class="signup_input pwd"
      placeholder="password"
    />
    <button type="submit" class="signup_btn">sign up</button>
  </form>
</div>
